<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de Web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="SaptraEntities" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql1.gear.host;initial catalog=georeferdev;user id=georeferdev;password=#S4ptr4;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
           providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
