<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="SaptraEntities" connectionString="metadata=res://*/db.csdl|res://*/db.ssdl|res://*/db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.101.30;initial catalog=SAPTRA_PRD;persist security info=True;user id=pruebaconexion;password=A123456a;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
           providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="Path" value="\\Inaebawebw1602\saptra_container\Movil" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RemotePath" value="http://200.33.114.167/saptraImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultImage" value="not_found.jpeg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <identity impersonate="true" userName="WIN-27QM2T9V9BI\Operador"
    password="A85m09d03" xdt:Transform="SetAttributes"/>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
